$blue:#0097e6;
$black:#000;
$white:#fff;
$light-color:#aaa;
$light-bg:#0a0a0a;
$border:.1rem solid rgba(255,255,255,.2);

@mixin title-text($titleVal) {
   font-size: $titleVal;
   color:$white;
   text-transform: capitalize;
}

@mixin graph-text($graphVal) {
   font-size: $graphVal;
   color:$light-color;
   line-height: 2;
   padding:1.5rem 0;
}

@mixin grid($val) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
   gap:2rem;
}
